table {
  width: 100%;
  overflow-y: scroll;
}

th.mat-sort-header-sorted {
  color: black;
}

.scrollable-table {
  width: 100%;
  overflow-y: auto;
  max-height: 90vh;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
